
:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}


.update-delete-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  
    p-button {
      flex: 1;
  
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .container-left-btn {
    .d-flex {
      gap: 10px; // Adjust the space between buttons as needed
    }
  }
  
  
  